body{
    background-color: bisque;
}
.commentsBlock{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 3vh;

}
.commentElement{
    padding: 5%;
    background-color: bisque;
    border: 2px saddlebrown solid;
    border-radius: 10%;
}
.postBlock{
    background-color: bisque;
    padding: 2%;
    border-radius: 2%;
}