body{
    width: 100%;
    display: flex;
    justify-content: center;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:50%;
}
.userBox{
    margin: 10px;
    padding: 1vw 2vh;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    border: 2px saddlebrown solid;
}
.userPhoto{
    width: 50%;
}
.photo{
    border-radius: 10%;
    width: 100%;
    border: 2px saddlebrown solid;
}
.button>button{
    width: 100%;
    border-radius: 10px;
    background-color:saddlebrown ;
    border: 2px saddlebrown solid;
    color: bisque;
    cursor: pointer;
}